BODY {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	SCROLLBAR-FACE-COLOR: #ffffff;
	SCROLLBAR-HIGHLIGHT-COLOR: #ffffff;
	SCROLLBAR-SHADOW-COLOR: #ffffff;
	SCROLLBAR-3DLIGHT-COLOR: #666600;
	SCROLLBAR-ARROW-COLOR: #666666;
	SCROLLBAR-TRACK-COLOR: #ffffff;
	SCROLLBAR-DARKSHADOW-COLOR: #666600;
}
/* ########### LIENS SANS CLASS ################################## 
*/
A:link,A:visited
	{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
	text-decoration: none;
	font-weight: bold;
	cursor: pointer;
	/*
	font-size: 13px;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	letter-spacing: 1px;
	*/	
 	}
A:active,A:hover
	{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #96964B;
	text-decoration: none;
	font-weight: bold;
	cursor: pointer;
	/*
	font-size: 13px;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	letter-spacing: 1px;
	*/	
	}
/* 
####################
*/
td {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #000000;
	text-decoration: none;
}
.letexte {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #000000;
	text-decoration: none;
}
.letexteC {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #FFFFFF;
	text-decoration: none;
}
.letexteB {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #FFFFFF;
	text-decoration: none;
}
.letextegras {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	color: #000000;
	text-decoration: none;
}

/* barre navigation
-----------------------------------------------
marron #492016
orange #FFC000
gris #FFFFFF
bleu acmob #6699FF; 
marron claire  #978a89
vert #9dc329

*/

.css-navig{
	font-family:  Arial, Helvetica, sans-serif;
	margin-bottom:10px;
	border-right: 1px solid #9dc329;
	border-left: 1px solid #9dc329;
	letter-spacing:1px;
	text-align: center;	
	}
	
a.BT-NAVIG-ACTIV:link, a.BT-NAVIG-ACTIV:visited {
	font-family:  Arial, Helvetica, sans-serif;
	background-color: #492016;
}
a.BT-NAVIG-ACTIV:hover {
	font-family:  Arial, Helvetica, sans-serif;
	background-color: #ffffff;
}


a.BT-NAVIG-ACTIV:hover		{
	font-family:  Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	background-color: #492016;
}	
a.BT-NAVIG-ACTIV:link, a.BT-NAVIG-ACTIV:active, a.BT-NAVIG-ACTIV:visited	{
	font-family:  Arial, Helvetica, sans-serif;
	line-height: 16pt;
	letter-spacing: 2px;
	text-decoration: none;
	border-left: 1px solid #FFFFFF;
	color: #FFFFFF;
	background-color: #492016;
	font-size:12pt;
	font-weight: bold;
	color: #FFFFFF;
	text-align: center;
	vertical-align: middle;
	display: block;
	padding: 5px 0px 5px 0px;
	width: 100%;
	}
a.BT-NAVIG, .up {
	font-family:  Arial, Helvetica, sans-serif;
	line-height: 16pt;
	font-weight: bold;
	color: #FFFFFF;
	letter-spacing: 2px;
	display: block;
	padding: 5px 0px 5px 0px;
	width: 100%;
	text-decoration: none;
	border-left: 1px solid #FFFFFF;
	font-size:13pt;
	text-align: center;
	vertical-align: middle;
}
.up {
	font-family:  Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	background-color: #639A1B;
}
a.BT-NAVIG:link		{
	font-family:  Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	background-color: #9dc329;
}
a.BT-NAVIG:visited	{
	font-family:  Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	background-color: #9dc329;
}
a.BT-NAVIG:active	{
	font-family:  Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	background-color: #9dc329;
}
a.BT-NAVIG:hover		{
	font-family:  Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	background-color: #978a89;
	
}